body {
  margin: 0px;
  padding: 20px;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background: #e4e4e4;
  color: #1f2328;
}

h3 {
  margin-top: 0px;
  margin-bottom: 10px;
}

.note {
  margin-bottom: 10px;
  font-size: small;
  font-style: italic;
}
