body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background: #e4d4c8;
  color: #523a28;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

h2 {
  margin-top: 0px;
  margin-bottom: 10px;
}

.note {
  margin-bottom: 10px;
  font-size: small;
  font-style: italic;
}
