form {
  display: flex;
  margin-bottom: 10px;
}

form .map-selector,
form .unwalkable-tiles-toggle,
form .start-tile {
  margin-right: 20px;
}

form .map-selector label,
form .unwalkable-tiles-toggle label,
form .start-tile label,
form .end-tile label {
  margin-right: 5px;
}

form .start-tile input,
form .end-tile input {
  width: 60px;
}
